/*
Color Palette:
background color: #3A3845
font color: #F7CCAC
secondary color: #C69B7B
tertiary color: #826F66
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    background-color: #3A3845;
    color: #F7CCAC;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header {
    background-color: blue;
    margin: 50px;
    border: 5px solid black;
    padding: 25px;
}

h1 {
    background-color: crimson;
    margin: 50px;
    border: 5px solid black;
    padding: 25px;
}

h4 {
    background-color: lightGreen;
    margin: 50px;
    border: 5px solid black;
    padding: 25px;
}

h6 {
    background-color: yellow;
    margin: 50px;
    border: 5px solid black;
    padding: 25px;
}